// ------font------
$size-12: 12px;
$size-14:14px;
$size-16:16px;
// ------间距------
$padding-6: 6px;
$padding-8: 8px;
$padding-12: 12px;
$padding-20: 20px;
// 全局默认
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

input,
textarea{
    outline:none;
}




::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
}
::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background: rgba($color: #3b73f0, $alpha: 0.8);
}
::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 10px;
    background: rgba($color: #3b73f0, $alpha: 0.3);
}